<html> 
    <head>
        <title>Weather Station Dashboard</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}"> 

    </head>

    <body>
        <ul>
            <li id="Date">Date</li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="https://github.com/TimKraemer1/Weather-Station" target="_blank">GitHub</a></li>
        </ul>

        <div id="about">
            This Weather Station, created by Tim Kraemer, is a personal project
            that delves into the intricacies of IoT/smart sensing.
        </div>
    </body>
</html>